<div class="galaxy-container">

  <div class="battlefield-container" *ngIf="initialization$ | async as initState">

    <ng-container *ngIf="initState === InitState.LOADED">
      <div class="players" *ngIf="players$ | async as game">
        <div>{{game.player1.name}}:{{game.player1.points}}</div>

        <div>{{game.player2.name}}:{{game.player2.points}}</div>
        
      </div>
      <div class="battle-container" *ngIf="currentBattle$ | async as battle">
        <div class="battle-preparing" *ngIf="battle.state === BattleState.PREPARING">
         Preparing
        </div>
        <div class="battle-resolver" *ngIf="battle.state === BattleState.FIGHT">
          <ng-container *ngIf="battleResolver$ | async as text">
            {{text}}
          </ng-container>
        </div>
        <force-card 
          [winner]="battle.state === BattleState.FIRST" 
          [state]="battle.state" 
          [resource]="battle.firstResource"
        ></force-card>
        <div class="battle-versus" [class.hide]="battle.state == BattleState.FIGHT">vs</div>
        <force-card 
          [winner]="battle.state === BattleState.SECOND" 
          [state]="battle.state" 
          [resource]="battle.secondResource"
        ></force-card>
      </div>
      <button mat-raised-button class="start-battle-button" (click)="startBattle()">Start Battle</button>
      <mat-form-field>
        <mat-label>Battle Type:</mat-label>
        <mat-select [(value)]="selectedBattleType">
          <mat-option [value]="option" *ngFor="let option of battleResources">{{ option | titlecase }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="initState === InitState.LOADING">
      <div class="battle-loader">Loading...</div>
    </ng-container>

    <ng-container *ngIf="initState === InitState.ERROR">
      <div class="battle-loader">Error in galaxy...</div>
    </ng-container>

  </div>
</div>